---
layout: page
title: "Our Challenge"
---
<p>For some time now, the international development community has been exploring how digital technologies can extend the reach of development.</p>

<p>Development organizations have struggled to leverage open source software in a way that makes their own work more participatory, sustainable and effective. Mainstream software often used in more developed markets does not always fully meet the specialized needs of international development projects and the areas in which those projects are undertaken.</p>

<p>Other fields have demonstrated that the open source software development model is a proven viable model to leverage collaboration, share costs and increase product quality. Open source projects in the development context have had mixed results, with relatively few projects having endured and matured in development settings. When successful, projects helped enable improved and sustained access to information and services that previously were out of reach for vulnerable populations. Many more efforts have failed, often due to preventable reasons, resulting in countless development investments that have been unable to scale.</p>

<p>Open source digital development projects usually struggle with lack of long-term investments in key focal areas such as community effectiveness and product development. Without emphasis of these key considerations, they can rarely match the functionality and quality of their competitors. As a result, these open source projects can’t mature to a point that is needed for widespread adoption throughout the development field.</p>

<p><a href="https://digitalimpactalliance.org/open-source-overrated/">Read more about
the state of T4D, and how we got here, on DIAL's blog.</a></p>

<p>
    <a href="index.html"><span class="icon fa-long-arrow-left"></span> Home</a> | <a href="mission.html">Our Mission <span class="icon fa-long-arrow-right"></span></a>
<p>
