---
layout: page
title: "Receive Services"
---

<p>As part of its collective action to assist its members, the DIAL Open Source Center will make available a variety of shared services. <a href="services-details.html">Read more about the specific services provided.</a> Services may be provided through OSC leaders funded by DIAL or other organizations, through volunteers within the OSC community, or through the OSC's service delivery partners. These services may be “light touch” such as advisory or mentorship work, or more hands-on activities such as technical assistance in several areas.</p>

<h2>Applying for Services</h2>

<h3>Step 1: Become a Member</h3>

<p>If you're not already a member, you'll first need to <a href="join.html">join the OSC as a participating member</a> before you can apply for services. You'll work with a liaison who will walk you through the process.</p>

<h3>Step 2: Review the assessment materials</h3>

<p>The following tools are used internally by the OSC governance team, to assess a project's readiness to participate and understand its needs:</p>

<ul>
  <li><a href="maturity-model.html">Project Maturity Self-Evaluation:</a> This is used as a baseline and periodic evaluation on how your project is growing and maturing as it participates in the OSC. You can also use it as a self-assessment tool.</li>
  <li><a href="proposal-template.html">Project Intake Data:</a> Your governance board liason will gather much of this information independently and may work with you to fill in gaps to help understand the current state of your project.</li>
</ul>

<h3>Step 3: Submit Shared Services Proposals (Quarterly)</h3>

<p>As needed (and currently on a quarterly basis), your project's leadership will work with the OSC Governance Advisory Board (GAB) to submit a formal request for services document, which will be reviewed by the GAB in an upcoming meeting, and scheduled based on available capacity. The GAB will conduct a preliminary evaluation of the project using the OSC Project Maturity Evaluation document, which can be used to track the project’s growth over time. Your project will be involved at every step to ensure there are no surprises, and to make sure the plans work with your project’s needs.</p>

<p><a href="services-details.html">Read more about specific services and example service delivery packages.</a></p>

<p>Services are generally prioritized based upon how they will affect your project’s increased maturity &amp; impact to those served.</p>

<h2>Receiving Shared Services</h2>

<p>The OSC will work to deliver shared services at a quarterly cadence. Workplanning will take place just prior to the start of a 3-month period, and service packages should typically be designed to be completed within this time frame. Member projects can apply for services for each quarter, but based on capacity it may happen that services are delivered in alternating quarters, with "off" quarters being used to evaluate the impact of the previous service delivery package, and to plan for what may be needed in the next "on" quarter.</p>

<p>Additional process for prioritization of quarterly plans carried out by OSC governance as the Center grows.</p>

<p>
<a href="join.html"><span class="icon fa-long-arrow-left"></span> Become a Member</a> | <a href="grants.html">Apply for a Grant <span class="icon fa-long-arrow-right"></span></a>
<p>
