---
layout: page
title: "Our Vision"
---

<p>We work to achieve a world where a mature portfolio of open source products and communities collaborate to support international development in highly useful and efficient ways. We envision a reality where barriers are broken down by empowering individuals and local communities to share knowledge and tools. We promote the support and funding of technology-driven efforts in international development that are coordinated within and between sectors.</p>

<p>We dream of a time when innovation is shared and welcomed as a force of
positive change to embrace, rather than a strategic organizational risk ...
and an age when educated, empowered, and enabled individuals work to grow the
numbers of citizens participating in digital society.</p>

<h3>Our Goals for Communities</h3>

<p>We believe in the importance of focusing on helping open source digital
development projects increase their impact through four key pillars of maturity:</p>

<ol>
<li><strong>Community effectiveness:</strong> inclusive and flexible governance models, distributed leadership, integrated community management processes</li>
<li><strong>Product development:</strong> integrated product strategy and roadmap, behavior-based measurement of customer success</li>
<li><strong>Robust technology architecture:</strong> collaborative and distributed technology leadership, use of appropriate tools for collaboration and software development, integrated formal and user-generated content</li>
<li><strong>Sustainable organizational base:</strong> neutral home for vibrant multilateral participation, activist culture focused on stakeholder success, inclusive legal and IP policies that balance autonomy and collaboration</li>
</ol>

<p>
<a href="values.html"><span class="icon fa-long-arrow-left"></span> Our Values</a> | <a href="governance.html">Our Governance <span class="icon fa-long-arrow-right"></span></a>
<p>
