---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>DIAL Open Source Center</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
    </div>
  </section>

</article>
